/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.gitignore
app/.DS_Store
bootstrap/.DS_Store
database/.DS_Store
resources/.DS_Store
resources/views/.DS_Store
storage/.DS_Store
