@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer utilities {
// 	.filter-none {
// 		filter: none;
// 	}
// 	.filter-grayscale {
// 		filter: grayscale(100%);
// 	}
// 	@variants hover, focus, group-hover {
// 		.filter-none {
// 			filter: none;
// 		}
// 		.filter-grayscale {
// 			filter: grayscale(100%);
// 		}
// 	}
// }

[x-cloak] {
    display: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "styles/typography.scss";
@import "styles/components.scss";
@import "styles/pagination.scss";
@import "styles/alert.scss";
@import "styles/playoffs.scss";
@import "styles/stats.scss";


.scrollbar-thin::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.scrollbar-thin .thiner::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scrollbar-thin .thinest::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}