@import url(https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.3/pretty-checkbox.min.css);@charset "UTF-8";

.text-6xl {
  font-size: 4rem !important;
}

.text-5xl {
  font-size: 3rem !important;
}

.text-4xl {
  font-size: 2.25rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-md {
  font-size: 0.9rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-xxs {
  font-size: 0.65rem !important;
}

.text-xxxs {
  font-size: 0.5rem !important;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.font-hairline {
  font-weight: 100;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.text-gray-100 {
  color: #f7fafc !important;
}

.text-gray-200 {
  color: #edf2f7 !important;
}

.text-gray-300 {
  color: #e2e8f0 !important;
}

.text-gray-400 {
  color: #cbd5e0 !important;
}

.text-gray-500 {
  color: #a0aec0 !important;
}

.text-gray-600 {
  color: #718096 !important;
}

.text-gray-700 {
  color: #4a5568 !important;
}

.text-gray-800 {
  color: #2d3748 !important;
}

.text-gray-900 {
  color: #1a202c !important;
}

.text-muted {
  color: #7D8996 !important;
}

.close:focus {
  outline: none;
}

.btn-borderless {
  background: none;
  border: none;
  color: #495057;
}

.btn-borderless:hover, .btn-borderless:focus {
  color: #78838e;
}

.btn-white {
  background-color: #fff;
  border-color: #ced4da;
  color: #666;
}

.btn-white:focus {
  color: #007bff;
}

.btn-white:hover {
  color: #007bff;
}

.btn-white.disabled {
  background-color: #F4F4F4;
  border-color: #ced4da;
  outline: 0;
  color: #B5B1B8;
  opacity: 1;
}

.form-group.error label {
  color: #fc8181;
}

.form-group.error input {
  border-color: #fc8181;
}

.form-group.error p {
  color: #fc8181;
}

.bootstrap-select .btn-light {
  background-color: #fff;
  border-color: #ced4da;
}

.bootstrap-select .dropdown-menu {
  padding: 0;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active {
  border-color: #80bdff;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-decoration: none;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
}

.dropdown-item.active, .dropdown-item:active {
  color: #495057;
  text-decoration: none;
  background-color: #F2F2F2;
}

.bootstrap-select .no-results {
  padding: 0.5em;
  margin: 0;
}

.custom-file-label, .custom-file-input {
  font-size: 0.9em;
  line-height: 1.75;
}

.custom-file-label:after, .custom-file-input:after {
  content: "\F07C";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: 1.75;
}

.custom-select {
  box-shadow: none !important;
}

.irs--flat .irs-bar {
  background-color: #3b82f6 !important;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background-color: #3b82f6 !important;
}

.irs--flat .irs-handle > i:first-child {
  background-color: #1d4ed8 !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: #1d4ed8 !important;
}

.main-sidebar .brand-link .brand-image {
  opacity: 0.8;
}

.main-sidebar .brand-link:hover .brand-image, .main-sidebar .brand-link:focus .brand-image {
  opacity: 1;
}

.main-sidebar .brand-link:hover span, .main-sidebar .brand-link:focus span {
  color: white;
}

.main-sidebar .brand-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.nav-sidebar .nav-item:focus, .nav-sidebar .nav-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.main-header .nav-item:focus, .main-header .nav-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.modal {
  overflow-y: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.non-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-header-name {
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 2.25rem;
}

.filters .form-control, .filters .btn {
  font-size: 0.9em !important;
  height: auto;
}

.filters .btn-new {
  background-image: linear-gradient(70deg, #21c8f6 21%, #637bff 117%);
  background-color: #fff;
  border: 1px solid #7f9cf5;
  color: #fff;
}

.filters .btn-new:hover, .filters .btn-new:focus {
  background-image: none;
  background-color: #ebf4ff;
  border-color: #a3bffa;
  color: #667eea;
}

.filters .dropdown-menu {
  font-size: 0.9em;
  padding: 0.25em 0;
}

.filters .dropdown-menu .dropdown-item {
  color: #495057;
  cursor: pointer;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.filters .dropdown-menu .dropdown-item i {
  width: 16px;
  text-align: center;
}

.filters .dropdown-menu .dropdown-item:hover, .filters .dropdown-menu .dropdown-item:focus {
  color: #3182ce;
  background: none;
}

.filters .dropdown-menu .dropdown-item.disabled {
  color: #99A7B4;
  cursor: not-allowed;
}

.filters .dropdown-menu .dropdown-item.disabled:hover, .filters .dropdown-menu .dropdown-item.disabled:focus {
  color: #99A7B4;
}

.filters .dropdown-menu .dropdown-item.red {
  color: #e53e3e;
}

.filters .dropdown-menu .dropdown-item.red:hover, .filters .dropdown-menu .dropdown-item.red:focus {
  color: #c53030;
}

.filters .dropdown-menu .dropdown-divider {
  margin: 0.25em;
}

.admin-crud-table-wrapper {
  background-color: #fff;
  border: 1px solid #ced4da;
  overflow-x: auto;
  border-radius: 0.375rem;
}

.admin-crud-table-wrapper .admin-crud-table {
  border: none;
  width: 100%;
}

.admin-crud-table-wrapper .admin-crud-table thead {
  background-color: #F9FAFB;
}

.admin-crud-table-wrapper .admin-crud-table thead th {
  font-size: 0.9em;
  border: none;
  color: #718096;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 0.75em 1em;
  text-transform: uppercase;
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.admin-crud-table-wrapper .admin-crud-table thead .check {
  font-size: 0.9em;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr {
  font-size: 0.9em;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr.selected {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr.selected:hover {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr.selected td {
  border-color: #c3dafe;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr:hover {
  background-color: #FEFBF6;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr:hover td .image {
  border: 1px solid #e2e8f0;
  background-color: #fff;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr:hover td .name {
  color: #667eea;
  cursor: pointer;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr td {
  border-top: 1px solid #e2e8f0;
  height: 57px;
  min-height: 57px;
  padding: 0.5em 1em;
  vertical-align: middle;
  white-space: nowrap;
}

.admin-crud-table-wrapper .admin-crud-table tbody tr td .image {
  height: 40px;
  width: auto;
  padding: 3px;
  border: 1px solid transparent;
  -o-object-fit: cover;
     object-fit: cover;
}

.admin-crud-table-wrapper .admin-crud-table.striped tbody tr:nth-child(even) {
  background-color: #F9FAFB;
}

.admin-crud-table-wrapper .admin-crud-table.striped tbody tr:nth-child(even) td:first-child {
  background-color: #F9FAFB;
}

.admin-crud-table-wrapper .admin-crud-table.striped tbody tr:nth-child(even).selected:hover td {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table.striped tbody tr:nth-child(even).selected td {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table.striped tbody tr:nth-child(even):hover td {
  background-color: #FEFBF6;
}

.admin-crud-table-wrapper .admin-crud-table.fixed-first thead th:first-child {
  background-color: #F9FAFB;
  border-radius: 0.375rem 0 0 0;
  left: 0px;
  position: sticky;
  position: -webkit-sticky;
}

.admin-crud-table-wrapper .admin-crud-table.fixed-first tbody tr td:first-child {
  background-color: #fff;
  border-radius: 0 0 0 0.375rem;
  left: 0px;
  position: sticky;
  position: -webkit-sticky;
}

.admin-crud-table-wrapper .admin-crud-table.fixed-first tbody tr.selected:hover td:first-child {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table.fixed-first tbody tr.selected td:first-child {
  background-color: #ebf4ff;
}

.admin-crud-table-wrapper .admin-crud-table.fixed-first tbody tr:hover td:first-child {
  background-color: #FEFBF6;
}

.pagination-wrapper {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination-wrapper .pagination {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}

.pagination-wrapper .pagination .page-item {
  margin: 0 0.15em;
}

.pagination-wrapper .pagination .page-item .page-link {
  background-color: #fff;
  border-color: #ced4da;
  border-radius: 9999px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  color: #495057;
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagination-wrapper .pagination .page-item .page-link:focus, .pagination-wrapper .pagination .page-item .page-link:hover {
  background-color: #ebf4ff;
  border-color: #a3bffa;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #667eea;
}

.pagination-wrapper .pagination .page-item.disabled .page-link {
  background: #F7F9FE;
  color: #BFBDC1;
  cursor: not-allowed;
}

.pagination-wrapper .pagination .page-item.separator .page-link {
  color: #495057;
  background: none;
  border: 1px solid transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  margin: 0 -1em;
}

.pagination-wrapper .pagination .page-item.active .page-link {
  background-image: linear-gradient(70deg, #21c8f6 21%, #637bff 117%);
  color: white;
  cursor: not-allowed;
}

.pagination-wrapper .pagination .page-item.active .page-link:hover {
  border: 1px solid transparent;
}

.pagination-wrapper .pagination-info {
  margin-top: 1em;
  font-size: 0.9em;
  color: #718096;
}

.modal-body.selected-regs {
  padding: 0;
}

.modal-body.selected-regs ul {
  height: auto;
  margin: 0;
  max-height: 25rem;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

.modal-body.selected-regs ul li {
  align-items: center;
  border-top: 1px solid #e2e8f0;
  display: flex;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.modal-body.selected-regs ul li:hover {
  background: #F9FAFB;
}

.modal-body.selected-regs ul li figure {
  flex-shrink: 0;
  margin: 0 0.5rem 0 0;
}

.modal-body.selected-regs ul li figure img {
  border-radius: 9999px;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.5rem;
}

@media (min-width: 768px) {
  .filters .btn, .filters .form-control {
    font-size: 1em !important;
    height: auto !important;
  }

  .admin-crud-table-wrapper .admin-crud-table thead .check {
    font-size: 1em;
  }

  .admin-crud-table-wrapper .admin-crud-table tbody tr {
    font-size: 1em;
  }
}

body {
  color: #495057;
}