// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-animation: autofill 0s forwards;
//     animation: autofill 0s forwards;
// }

// @keyframes autofill {
//     100% {
//         background: transparent;
//         color: inherit;
//     }
// }

// @-webkit-keyframes autofill {
//     100% {
//         background: transparent;
//         color: inherit;
//     }
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  -webkit-text-fill-color: #374151;
  -webkit-box-shadow: 0 0 0px 1000px #fef3c7 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.toggle:before {
	content: '';
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(1.1);
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
	background-color: #fff;
	transition: .2s ease-in-out;
}

.toggle:checked {
	background-color:#8ab4f8;
}

.toggle:checked:hover {
	background-color:#7498D2;
}

.toggle:checked:focus {
	background-color:#7498D2;
}

.toggle:checked:before {
	left: 1.25rem;
}

