.playoffs {
    td {
        height: 2.5rem;
        max-height: 2.5rem;
        white-space: nowrap;
    }
    .round-name {
        @apply text-xs uppercase font-medium align-bottom pb-1.5;
        &.right {
            @apply text-right;
        }
        &.center {
            @apply text-center;
        }
    }
    .clash {
        width: 7.5rem;
        min-width: 7.5rem;
        @apply border;
    }
    .result {
        width: 1.84rem;
        min-width: 1.84rem;
        @apply border text-sm text-center;
    }
    .bracket {
        width: 0.72rem;
        min-width: 0.72rem;
    }
}

.detail-clash {
    @apply w-full;
    thead {
        td {
            @apply py-2 px-3;
        }
        .team {
            @apply text-sm;
        }
        .result {
            @apply text-xs w-6 text-center;
        }
    }
    tbody {
        td {
            @apply py-0.5 px-3;
        }
        .team {
            @apply text-sm;
        }
        .result {
            @apply text-sm w-6 text-center;
        }
    }
}