.players-stats {
	@apply w-full font-condensed;
	thead {
		th {
			@apply uppercase tracking-widest font-normal px-2 py-3 text-right;
			font-size: 0.75rem;
			line-height: 1rem;
			min-width: 2.4rem;
			&.sorted-asc {
				box-shadow: inset 0 20px 0 -16px #efaa10;
			}
			&.sorted-desc {
				box-shadow: inset 0 -20px 0 -16px #efaa10;
			}
		}
	}
	tbody {
		td {
			@apply px-2 py-3;
			font-size: 0.8rem;
			line-height: 1.2rem;
		}
	}
}


.team-players-stats {
	@apply w-full;
	thead {
		th {
			@apply uppercase tracking-widest font-semibold px-2 py-4 text-right;
			font-size: 0.75rem;
			line-height: 1rem;
			min-width: 2.4rem;
			&.sorted-asc {
				box-shadow: inset 0 20px 0 -16px #efaa10;
			}
			&.sorted-desc {
				box-shadow: inset 0 -20px 0 -16px #efaa10;
			}
		}
	}
	tbody {
		td {
			@apply px-2;
			font-size: 0.8rem;
			line-height: 1.2rem;
		}
	}
}
