// font-family
.font-miriam {
	font-family: 'Miriam Libre', sans-serif;
}

.font-bad-script {
	font-family: 'Bad Script', cursive;
}

.font-Amatic {
	font-family: 'Amatic SC', cursive;
}

.font-condensed {
	font-family: 'Asap Condensed', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

// font-size
.text-xxs {
	font-size: 0.65rem !important;
}
.text-xxxs {
	font-size: 0.5rem !important;
}
